html, body {
    /* 1 */
    margin: 0px 0px 0px 0px; 
    width: 100%;
    height: 100%;
    min-width: 768px;
    background-image: url("\Pictures/drysoil2.jpg");
    background-repeat: repeat;
    background-size: auto;
    }

.translucentBackground {
    background-color: wheat;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: +1;
}    

#welcomeDivID {
    background-color: rgb(13, 13, 36);
    display: block;
    color: gold;
    position: absolute;
    width: 80%;
    max-width: 600px;
    /* min-width: 250px; */
    margin-top: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: +2;
    border: 2px double black;
    padding: 15px;
    padding-bottom: 0px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.welcomeTopText {
    text-align: center;
    color:rgba(191,123,78,1);
    text-shadow: 0 0 8px #fb9f27;
}

#gametime {
    z-index: +5;
    position: relative;
}

.logo {
    display: block;
    margin: auto;
}

#welcomeButton {
    position: relative;
    float: right;
    margin: auto;
    width: fit-content;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    z-index: 5;
}

.kittens {
    position: relative;
    float: right;
    /* position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4; */
}

#table25.board {
    position: relative;
    margin: 0 auto;
    top: 50px;
    border: 2px solid black;
}

#table25 td {
    background-image: url("\Pictures/soil_texture.jpg");
    background-size: 102px 102px;
    background-repeat: no-repeat;
    height: 102px;
    width: 102px;
}

.cursor { 
    cursor: pointer;
}

.cropUpLogo {
    display: block;
    width: 130px;
    margin: auto;
    margin-top: 20px;
}

#controlpanelRight {
    height:fit-content;
    width: 140px;
    position: fixed;
    z-index: +1;
    right: 0;
    top: 10px; 
    background-color: rgb(59, 59, 59);
    border-style: outset;
    border-color: darkgray;
    border-width: 1px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#controlpanelLeft {
    height:fit-content;
    width: 140px;
    position: fixed;
    z-index: +1;
    left: 0;
    top: 10px; 
    background-color: rgb(59, 59, 59);
    border-style: outset;
    border-color: darkgray;
    border-width: 1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* the countdown timer begins here */
#timer {
    width: 140px;
    height: 90px;
    color: white;
    background-color: red;
    margin: auto;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-style: outset;
    border-left-style: outset;
    border-bottom-style: outset;
    border-width: 1px;
    border-color: darkgray;
    text-align: center;
    font-weight: bold;
    vertical-align: bottom;
    font-size: 20px;
}

.timerBackgroundAnimation {
    animation-name: flashing;
    -moz-animation-name: flashing;
    -o-animation-name: flashing;
    -webkit-animation-name: flashing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
} 

#timernumber {
    display: inline-block;
    margin-top: 10px;
}

#timertext {
    font-size: 14px;
}

.button {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 2px;
    font-size: 12px;
    border-radius: 5px;
}

.gameButton {
    border-radius: 25px;
    border: 2px solid black;   
    background-image: url(Pictures/buttons/buyfield_trans.png);
    background-repeat: no-repeat;
    background-color: white;
    filter: invert(100%);
    width: 50px;
}

.gameButton:hover {
    box-shadow: 3px 3px 6px #0028ff;
}

.restartButton {
      font-weight: bold;
}

label {
    color: white;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: auto;
    text-align: center;
}

#seed {
    margin-top: 15px;
}

 @keyframes flashing {
    0% {background-color: red;}
    50% {background-color: white;}
    100% {background-color: red;}
}

@keyframes flashingText {
    0% {color: white;}
    50% {color: red;}
    100% {color: white;}
}
.timerTextColorAnimation {
    animation: flashingText 1s ease-in-out 0s infinite alternate;
}

#displayButton {
    margin-top: 5px;
}

.display {
    margin: auto;
    margin-top: 2px;
    margin-bottom: 5px;
    width: 80px;
    background-color: lightgrey;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    text-align: right;
}

.titles {
    text-align: center;
    color: #ffd700;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 3px;           
}

 .titleDistance {
    margin-top: 100px;
} 

.smallTitles {
    text-align: center;
    color: gold;
    font-weight: bold;
    margin-top: 3px;
    font-size: 14px;
}

#tableOfPriceAndProfit {
    color: white;
    font-size: 14px;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    border-top: 2px solid gold;
}

select {
    margin: auto;
    
}

.fieldBorder {
    border-style: dashed;
    border-width: 2px;
    border-color: brown; 
}

@keyframes fieldTranslate {
    from {transform: scale(1);}
    to {transform: scale(0.95);}
}

.growingCropAnimation {
    animation: fieldTranslate 1s ease-in-out 0s infinite alternate;
}

